<h3>Dados dos Responsáveis</h3>

<div class="form-row">
  <div class="form-group">
    <label>Nome do Responsável</label>
    <input name="responsavel_nome" type="text">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input name="responsavel_email" type="email">
  </div>
</div>

<div class="form-row">
  <div class="form-group short-field">
    <label>Telefone</label>
    <input name="responsavel_telefone" type="text">
  </div>

  <div class="form-group short-field">
    <label>Telefone 2</label>
    <input name="responsavel_telefone2" type="text">
  </div>

  <div class="form-group short-field">
    <label>CPF (se houver)</label>
    <input name="responsavel_cpf" type="text">
  </div>

  <div class="form-group short-field">
    <label>Parentesco</label>
    <input name="responsavel_parentesco" type="text">
  </div>
</div>

<hr>

<h4>Pai</h4>
<div class="form-row">
  <div class="form-group">
    <label>Nome</label>
    <input name="pai_nome" type="text">
  </div>
  <div class="form-group short-field">
    <label>CPF</label>
    <input name="pai_cpf" type="text">
  </div>
</div>

<hr>

<h4>Mãe</h4>
<div class="form-row">
  <div class="form-group">
    <label>Nome</label>
    <input name="mae_nome" type="text">
  </div>
  <div class="form-group short-field">
    <label>CPF</label>
    <input name="mae_cpf" type="text">
  </div>
</div>
