body.theme-nucleo {
    /* IDENTIDADE */
    --primary: #1565C0;
    --primary-hover: #0D47A1;

    --secondary: #43A047;
    --accent: #FBC02D;

    --warning: #F57C00;

    /* FUNDOS */
    --sidebar-bg: #0F2B46;
    --sidebar-active: rgba(21,101,192,.18);

    --page-bg: #F4F8FC;
    --card-bg: #FFFFFF;

    /* TEXTO */
    --text-dark: #1F2937;
    --text-light: #6B7280;

    /* ESTRUTURA */
    --radius: 14px;
    --shadow-sm: 0 2px 6px rgba(0,0,0,.05);
}